# Database (MySQL via Laragon)
DATABASE_URL="mysql://root:@localhost:3306/pos_toko"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="ganti-dengan-secret-random-minimal-32-karakter"

# App
NEXT_PUBLIC_APP_NAME="POS Toko Plastik & Bahan Kue"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
